:root{
    --primary-text-color: #FFF;
    --background-color: #012D63;
    --color: #C7C7C7;
    --background: #8E32C6;
}
body{
    margin: 0 auto;
}
.nike-logo{
    display: flex;
    align-items: center;
}
.header-wrapper{
    display: flex;
}
.header{
    background-color: var(--background-color);
    padding-top: 16px;
    padding-bottom: 17px;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    
}
.link{
    color: var(--primary-text-color);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
}
.list-li{
    color: var(--color);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.list{
    color: var(--primary-text-color);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section-nike{
    background-color: black;
    background-image: url(/imges/nike.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 183px;
}
.section-button{
    color: var(--primary-text-color);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
    border-radius: 10px;
    background: #8E32C6;
    width: 254px;
    height: 67px;
    flex-shrink: 0;
}
.section-text{
    color: var(--primary-text-color);
font-family: Playfair Display;
font-size: 144px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.section-text-2{
    color: var(--primary-text-color);
font-family: Playfair Display;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.section-text-3{
    color: var(--primary-text-color);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.text{
    color: var(--primary-text-color);
font-family: PT Serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero{
    background-image: url(../imges/Group\ 8\ 1.png);
    height: 606px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
.hero-container{
    display: flex;
}
.hero-ul{
    color: var(--primary-text-color);
    text-align: center;
font-family: Playfair Display;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;
margin-top: 105px;
margin-bottom: 105px;
}
.hero-premium{
    background: var(--primary-text-color);
    width: 1px;
    height: 346px;
}